{% extends 'base.html' %} 

{% block body %} 

<h2 style="text-align:center;"> Anime Chicks </h2>
<h4 style="text-align:center;"> Click on the better chick </h4>

<div style="text-align:center;">
	<a title = "{{ the_chick1[2] }}" href="{{ url_for('click', direction='left') }}">
		<img height="350" src= "{{ the_chick1[4] }}" alt="chick1">
	</a>

	<a title = "{{ the_chick2[2] }}" href="{{ url_for('click', direction='right')}}">
	<img height="350" src= "{{ the_chick2[4] }}" alt="chick2">
	</a>
	<h4 style> Chicks clicked: {{ the_click }} </h4>
</div>

<div style="text-align:center;">
	<form method = 'POST' action = '/stats'>
	<p><input value = 'See stats' type = 'SUBMIT'></p>
	</form>
</div>

<div style="text-align:center;">
	<h3> Top 5 </h3>
	<a title = "{{ the_top5[0][2], the_top5[0][6] }}">
	<img height="250" src= "{{ the_top5[0][4] }}" alt="chick1">
	</a>
	<a title = "{{ the_top5[1][2], the_top5[1][6] }}">
	<img height="250" src= "{{ the_top5[1][4] }}" alt="chick1">
	</a>
	<a title = "{{ the_top5[2][2], the_top5[2][6] }}">
	<img height="250" src= "{{ the_top5[2][4] }}" alt="chick1">
	</a>
	<a title = "{{ the_top5[3][2], the_top5[3][6] }}">
	<img height="250" src= "{{ the_top5[3][4] }}" alt="chick1">
	</a>
	<a title = "{{ the_top5[4][2], the_top5[4][6] }}">
	<img height="250" src= "{{ the_top5[4][4] }}" alt="chick1">
	</a>
</div>


{% endblock %}
