{% extends 'base.html' %} 

{% block body %} 

<h2 style="text-align:center;"> Stats </h2>
<div style="text-align:center;">
	<form method = 'POST' action = '/stats'>
	<table class="center">
		<p> Wyszukaj swoją ulubioną postać! </p>
		<tr><td>Character name:</td><td><input name='charactername' type='TEXT' width='60'></td></tr>
		<tr><td>Anime name:</td><td><input name='animename' type='TEXT' width='60'></td></tr>
	</table>
	<p><input value = 'Search' type = 'SUBMIT'></p>
	</form>
</div>
<h4 style="text-align:center;"> Click on the name to see more details about character </h4>
<div style="text-align:center;">
	<table class="center">
		<tr>
			{% for header in headings %}
			<th> {{ header }} </th>
			{% endfor %}
		</tr>
		{% for row in data %}
			<tr>
			{% for cell in row %}
			<td> <a href="{{ url_for('stats_name', name = row[1])}}">{{ cell }}</a> </td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}