{% extends 'base.html' %} 

{% block body %}

<div style="text-align:center;">
	<form method = 'POST' action = '/'>
	<p><input value = 'Main site' type = 'SUBMIT'></p>
	</form>
</div>
<h4 style="text-align:center;"> All votes: {{ count[0] }} </h4>
<h2 style="text-align:center;"> Stats </h2>
<div style="text-align:center;">
	<form method = 'POST' action = '/stats'>
	<table class="center">
		<p> Search for your favourite character or anime! </p>
		<tr><td>Character name:</td><td><input name='charactername' type='TEXT' width='60'></td></tr>
		<tr><td>Anime name:</td><td><input name='animename' type='TEXT' width='60'></td></tr>
	</table>
	<p><input value = 'Search' type = 'SUBMIT'></p>
	</form>
</div>
<h4 style="text-align:center;"> Click on the name to see more details about character </h4>
<div style="text-align:center;">
	<table class="center">
		<tr>
			{% for header in headings %}
			<th> {{ header }} </th>
			{% endfor %}
		</tr>
		{% for row in data %}
			<tr>
			<td> <a>{{ row[0] }}</a> </td>
			<td> <a href="{{ url_for('character', id = row[1])}}">{{ row[2] }}</a> </td>
			<td> <a>{{ row[3] }}</a> </td>
			<td> <a>{{ row[4] }}</a> </td>
			<td> <a>{{ row[5] }}</a> </td>
			<td> <a>{{ row[6] }}</a> </td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}